.Bloc{
  
    height: 530px;
    width: 850px;
    border-radius: 15px;
    position: absolute;
    display:flex;
    background-color: white;
    top:55%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: URW Chancery L, cursive;
}

.flecheretour{
    width:50px;
    height:60px;
    margin-top: 7%; 
}
.Bloc1{
    position:relative;
    display:flex;
    flex-direction:row;
    align-items: center;
    gap:300px;
    top:-20%;
}
.Bloc2{
    display:flex;
    position: relative;
    flex-direction: column;
    gap:-40px;
    top:-6%;
    left:6%;
    gap:20px;
}
.Bloc3{
    display:flex;
    position: relative;
    flex-direction: column;
}
.boutonretour{
    position:absolute;
    top:20%;
    border-radius: 7px; /* ajustez la valeur selon la forme souhaitée */
    background-color: #ffffff; /* couleur de fond */
    color: #000000; /* couleur du texte */
    border: #000000; /* suppression de la bordure par défaut */
    cursor: pointer;
    text-decoration: none;
}
.boutonprofil{
    width: 140px;
    height: 30px;
    font-size: 90%; 
    font-weight: 600;
    border-radius: 7px; /* ajustez la valeur selon la forme souhaitée */
    background-color: #ffffff; /* couleur de fond */
    color: #000000; /* couleur du texte */
    cursor: pointer;
    text-decoration: none;
    padding-left: 40px;
    box-shadow: rgb(70, 69, 69) 0px 1px 3px;
}

.boutonwishlist{
    width: 200px;
    height: 30px;
    font-size: 90%; /* Taille de la police */
    font-weight: 700;
    border-radius: 7px; /* ajustez la valeur selon la forme souhaitée */
    background-color: #ffffff; /* couleur de fond */
    color: #000000; /* couleur du texte */
    cursor: pointer;
    text-decoration: none;
    padding-left: 40px;
    box-shadow: rgb(70, 69, 69) 0px 1px 3px;
    transform: translateX(-30%);
}

.Bloc3{
    background-color: rgba(220, 220, 220, 1);
    display:flex;
    position:absolute;
    top:50%;
    left:5%;
    width:600px;
    height: 200px;
    border-radius: 15px;
    border: 1px solid black;
    
}
.Bloc4{
    display:flex;
    position:absolute;
    flex-direction: column;
    left:5%;
}
.Bloc5{
    display:flex;
    position:absolute;
    flex-direction: column;
    left:65%;
}
.label1{
    font-weight: 600;
}
.label2{
    font-weight: 600;
    font-size: 20px;
}
