@font-face {
    font-family: 'Khula';
    /* Nom de la police */
    src: url("C:\Users\pauli\PROJET-WEB\Khula");
    /* Chemin vers le fichier de police */
}


body {
    background-color: rgba(37, 37, 37, 1);
}

.imgprinc {
    width: 10%;
    margin-right: 85%;
}

.Centrer {
    text-align: center;

}

.Apropos {
    text-align: center;
    position: absolute;
    top: 95%;
    right: 25%;

}

.Apropos a {
    text-decoration: none;
    margin-right: 100px;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
}

.nav {
    width: 80px;
    height: 25px;

    font-size: 15px;
    font-weight: 500;
    position: absolute;
    border-radius: 7px;
    top: 5%;
    right: 9%;
}

.nav ul {
    list-style-type: none;
}

.nav ul li {
    float: left;
    text-align: left;
    position: relative;
}

.nav ul::after {
    content: "";
    display: table;
    clear: both;
}

.nav a {
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

.nav a:hover {
    color: rgba(28, 143, 166, 0.918);
    border-bottom: 2px solid rgba(28, 143, 166, 0.918);
}

.nav ul li:hover .drop {
    display: block;
}

.drop {
    display: none;
    background-color: rgba(37, 37, 37, 1);
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.drop li {
    float: none;
    width: 100%;
    text-align: center;
}

.drop a {
    border-bottom: none;
}

.drop a:hover {
    border-bottom: none;
}


/* ======== PAGE ACCUEIL ========== */


.Titre {
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 50%;
    color: #ffffff;
    font-family: 'Khula';

}


.bouton-grand {
    width: 80px;
    /* Largeur du bouton */
    height: 25px;
    /* Hauteur du bouton */
    font-size: 10px;
    /* Taille de la police */
    font-weight: 700;
    margin-top: -3%;
    margin-left: -2%;
    border-radius: 7px;
    /* ajustez la valeur selon la forme souhaitée */
    background-color: #ffffff;
    /* couleur de fond */
    color: #000000;
    /* couleur du texte */
    border: #000000;
    /* suppression de la bordure par défaut */
    cursor: pointer;
    text-decoration: none;
}

.alignement {
    display: flex;
    /* Utiliser Flexbox */
    align-items: center;
    /*justify-content: flex-end;*/
}




/* PAGE CONNEXION */

.parent {
    font-size: 25px;
    text-align: center;
    width: 500px;
    height: 50px;
    color: white;
    background-color: rgba(28, 143, 166, 0.918);
    box-shadow: rgb(255, 255, 255) 0px 1px 3px;
    margin-right: 200px;
    margin-top: 30px;
    border-radius: 10px;
    border-bottom: 5px solid rgb(255, 255, 255);
    padding: 20px;

}

#valider_co {
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    justify-content: center;
    margin-top: 50px;
    margin-left: 430px;
    font-weight: bold;
    border-radius: 8px;
    border: 0;
    padding: 8px;
}

#valider_co:hover {
    background-color: rgba(28, 143, 166, 0.918);
}

#identifier {
    color: white;
    margin-top: 200px;
    margin-left: 900px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 45px;
}

#imgcon {
    left: 0;
    top: 0;
    position: fixed;
    height: 100vh;

}

#mail,
#mdp {
    margin-left: 34px;
    margin-top: 10px;
    width: 170px;
    border: 0;
    border-radius: 10px;
    padding: 8px 15px;
    display: inline;
}

.container {
    float: right;
}

#mail {
    margin-left: 125px;
}

.parent label {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.error {
    color: red;
    font-size: 15px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    position: absolute;
    top: 70%;
    left: 60%;
}


/*PAGE CREATION ENTREPRISE  */





.titre2 {
    color: rgba(28, 143, 166, 0.918);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 3%;
    left: 30%;
}

.contenu {
    gap: 30px;
    position: absolute;
    top: 30%;
    left: 15%;
    display: flex;
    flex-direction: column;
}

.eval {
    unicode-bidi: bidi-override;
    direction: rtl;
    color: #000000;
}

.eval input {

    display: none;

}

.eval label {
    display: inline-block;
    font-size: 25px;
    padding: 0px;
    cursor: pointer;

}

.eval input:checked~label,
.eval input:checked~label~label {
    color: orange;
}

.nameM {
    color: rgba(28, 143, 166, 0.918);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    gap: 90px;
}

.nameM>input {
    border-radius: 5px;
    border-width: 3px;
    border-color: black;
}

.act {
    color: rgba(28, 143, 166, 0.918);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    gap: 50px;
}

.act>select {
    border-radius: 5px;
    height: 20px;
    border-color: black;
    border-width: 2px;
}

.loc {
    color: rgba(28, 143, 166, 0.918);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    gap: 128px;
}

.loc>select {
    border-radius: 5px;
    height: 20px;
    border-color: black;
    border-width: 2px;
}



.rating {
    color: rgba(28, 143, 166, 0.918);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    gap: 110px;
}

.boutons-D {
    position: absolute;
    top: 92%;
    left: 75%;
    display: flex;
    flex-direction: row;
}

.boutons-D #but1 {
    display: flex;
    height: 25px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    border-color: rgba(28, 143, 166, 0.918);
}

.boutons-D #but2 {
    border-color: rgba(28, 143, 166, 0.918);
    display: flex;
    height: 25px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
}

.boutons-D #but1:hover {
    background-color: rgba(28, 143, 166, 0.918);
}

.boutons-D #but2:hover {
    background-color: rgba(28, 143, 166, 0.918);
}


/*PAGE MODIFICATION ENTREPRISE  */

.boutons-G #but3 {
    display: flex;
    height: 25px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    border-color: rgba(28, 143, 166, 0.918);
}

.boutons-G #but3:hover {
    background-color: rgba(28, 143, 166, 0.918);
}

.boutons-G #but4 {
    display: flex;
    height: 25px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    border-color: rgba(28, 143, 166, 0.918);
}

.boutons-G #but4:hover {
    background-color: rgba(28, 143, 166, 0.918);
}

.boutons-G {
    position: absolute;
    top: 92%;
    left: 5%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;

}



/*PAGE MODIFICATION OFFRE  */

.Bloc1Offre {
    position: absolute;
    top: 30%;
    left: 10%;
    height: 20%;
    width: 15%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.Bloc2Offre {
    gap: 35px;
    position: absolute;
    top: 25%;
    left: 15%;
    width: 25%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 50px;

}

.Bloc3Offre {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-weight: bold;
}

.Bloc3Offre select {
    position: absolute;
    left: 80%;
    display: flex;
    flex-direction: row;
}

.Bloc3Offre input,
textarea {
    position: absolute;
    left: 80%;
    display: flex;
    flex-direction: row;

}

.Bloc4Offre {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 65%;
    top: 25%;
    width: 15%;
    ;
}

.Bloc5Offre {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}






/*PAGE MODIFICATION PILOTE  */

.promotion {
    position: relative;
    top: 90%;
}

.namePilote {
    color: rgba(28, 143, 166, 0.918);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    gap: 130px;
}

/* ======== DASHBOARD ADMIN / PILOTE========== */

.CarreHaut {
    position: absolute;
    top: 30%;
    left: 15%;
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.CarrePilote,
.CarreEtudiant,
.CarreStage,
.CarreEntreprise {
    height: 80px;
    width: 200px;
    border-radius: 8px;
    background-color: white;
    text-align: center;
}

.CarrePilote label,
.CarreEtudiant label,
.CarreStage label,
.CarreEntreprise label {
    font-weight: bold;
    position: relative;
    top: 35%;
    font-size: 25px;
}

.CarreBas {
    position: absolute;
    top: 50%;
    left: 9%;
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.CarreBasPilote {
    /*Partie Pilote en +*/
    position: absolute;
    top: 50%;
    left: 19%;
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.RectEtudiant,
.RectOffre,
.RectEntreprise,
.RectPilote {
    height: 230px;
    width: 250px;
    border-radius: 8px;
    background-color: white;
    text-align: center;
}

.creerEntre,
.gererEntre,
.creerOffre,
.gererOffre,
.creerEtudiant,
.gererEtudiant,
.creerPilote,
.gererPilote {
    height: 30px;
    width: 200px;
    border-radius: 8px;
    cursor: pointer;
    font-family: URW Chancery L, cursive
}

.creerEntre:hover,
.gererEntre:hover,
.creerOffre:hover,
.gererOffre:hover,
.creerEtudiant:hover,
.gererEtudiant:hover,
.creerPilote:hover,
.gererPilote:hover {
    background-color: rgba(28, 143, 166, 0.918);
}

.boutonsTroisCarres {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 2%;
    gap: 30px;
}

label[for="TitreCarreBas"] {
    position: relative;
    top: 10%;
    font-family: URW Chancery L, cursive;
    font-size: 30px;
}



/* ======== PAGE VISIONNER UNE OFFRE / UNE ENTREPRISE / UN ETUDIANT ========== */
* .BlocEtudiant {

    height: 530px;
    width: 850px;
    border-radius: 15px;
    position: absolute;
    display: flex;
    background-color: white;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: URW Chancery L, cursive;
}

.TStage {
    position: absolute;
    top: 10%;
    font-size: 30px;
    left: 5%;
    font-family: URW Chancery L, cursive
}

.flecheretour {
    width: 50px;
    height: 60px;
    margin-top: 7%;
}

.boutonretour {
    position: absolute;
    border-radius: 7px;
    /* ajustez la valeur selon la forme souhaitée */
    background-color: #ffffff;
    /* couleur de fond */
    color: #000000;
    /* couleur du texte */
    border: #000000;
    /* suppression de la bordure par défaut */
    cursor: pointer;
    text-decoration: none;
}

.bouton-stat {
    width: 180px;
    height: 30px;
    font-size: 80%;
    font-weight: 600;
    border-radius: 7px;
    /* ajustez la valeur selon la forme souhaitée */
    background-color: #ffffff;
    /* couleur de fond */
    color: #000000;
    /* couleur du texte */
    cursor: pointer;
    text-decoration: none;
    box-shadow: rgb(70, 69, 69) 0px 1px 3px;
}

.bouton-stat:hover {
    background-color: rgba(28, 143, 166, 0.918);
}

.Bloc1Etudiant {
    position: absolute;
    display: flex;
    top: 15%;
    left: 5%;
    gap: 500px;
}

.Bloc2Etudiant {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 5%;
    width: 60%;
    gap: 35px;
}

.Bloc3Etudiant {
    position: relative;
    display: flex;
    flex-direction: column;
    font-weight: 600;

}

.Bloc4Etudiant {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 80%;
    left: 5%;
    gap: 410px;
    align-items: end;

}

.DescriptionStage {

    height: 80px;
    width: 400px;
    position: absolute;
    top: 25%;
    left: 5%;
    display: flex;
    flex-direction: column;
    font-family: URW Chancery L, cursive;
    gap: 10px;
}

.CompRequises {
    height: 40px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 5%;
    font-family: URW Chancery L, cursive;
    gap: 10px;
}

.SectAct {
    height: 40px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 5%;
    font-family: URW Chancery L, cursive;
    gap: 10px;
}

.StagiairePostulation {
    height: 40px;
    width: 800px;
    position: absolute;
    top: 70%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-family: URW Chancery L, cursive;
    gap: 10px;
}


.Localisation {

    height: 40px;
    width: 400px;
    position: absolute;
    top: 60%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-family: URW Chancery L, cursive;
    gap: 10px;
}

.EntrepriseStage {

    height: 40px;
    width: 400px;
    position: absolute;
    top: 70%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-family: URW Chancery L, cursive;
    gap: 10px;
}

.NbPostulation {

    height: 40px;
    width: 400px;
    position: absolute;
    top: 90%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-family: URW Chancery L, cursive;
    gap: 10px;
}

label[for="TitreBlocG"] {
    font-weight: bold;
}

.TempsStage {
    height: 40px;
    width: 150px;
    position: absolute;
    top: 15%;
    left: 75%;
    display: flex;
    flex-direction: column;
    font-family: URW Chancery L, cursive;
    gap: 5px;
}

.DateDebut {
    height: 40px;
    width: 150px;
    position: absolute;
    top: 30%;
    left: 75%;
    display: flex;
    flex-direction: column;
    font-family: URW Chancery L, cursive;
    gap: 5px;
}

.NiveauRequis {
    height: 40px;
    width: 150px;
    position: absolute;
    top: 45%;
    left: 75%;
    display: flex;
    flex-direction: column;
    font-family: URW Chancery L, cursive;
    gap: 5px;
}

.Remuneration {
    height: 40px;
    width: 150px;
    position: absolute;
    top: 60%;
    left: 75%;
    display: flex;
    flex-direction: column;
    font-family: URW Chancery L, cursive;
    gap: 5px;
}

.NBPlace {
    height: 40px;
    width: 150px;
    position: absolute;
    top: 75%;
    left: 75%;
    display: flex;
    flex-direction: column;
    font-family: URW Chancery L, cursive;
    gap: 5px;
}

label[for="TitreBlocD"] {
    font-weight: bold;
}

.boutonAjoutFavoris {
    position: absolute;
    left: 75%;
    top: 93%;
    font-size: 13px;
    cursor: pointer;
    justify-content: center;
    font-weight: bold;
    border-radius: 8px;
    border-color: black;
}

.boutonAjoutFavoris:hover {
    background-color: rgba(28, 143, 166, 0.918);
    ;
}

.Modifier {
    position: absolute;
    left: 75%;
    top: 93%;
    font-size: 13px;
    cursor: pointer;
    justify-content: center;
    font-weight: bold;
    border-radius: 8px;
    border-color: black;
}

.ModifierEntre {
    position: absolute;
    left: 60%;
    top: 90%;
    font-size: 13px;
    cursor: pointer;
    justify-content: center;
    font-weight: bold;
    border-radius: 8px;
    border-color: black;
}

.Modifier:hover,
.Retouner:hover,
.ModifierEntre:hover {
    background-color: rgba(28, 143, 166, 0.918);
}

.Retouner {
    position: absolute;
    left: 88%;
    top: 93%;
    font-size: 13px;
    cursor: pointer;
    justify-content: center;
    font-weight: bold;
    border-radius: 8px;
    border-color: black;
}

.boutonVoirOffreEntre {
    position: absolute;
    left: 70%;
    top: 90%;
    font-size: 13px;
    cursor: pointer;
    justify-content: center;
    font-weight: bold;
    border-radius: 8px;
    border-color: black;
}

.boutonVoirOffreEntre:hover {
    background-color: rgba(28, 143, 166, 0.918);
    ;
}

.bouton-modifier {
    width: 80px;
    height: 30px;
    font-size: 80%;
    font-weight: 600;
    border-radius: 7px;
    /* ajustez la valeur selon la forme souhaitée */
    background-color: #ffffff;
    /* couleur de fond */
    color: #000000;
    /* couleur du texte */
    cursor: pointer;
    text-decoration: none;
    box-shadow: rgb(70, 69, 69) 0px 1px 3px;
}

.bouton-modifier:hover {
    background-color: rgba(28, 143, 166, 0.918);
}

.label1 {
    font-weight: 600;
}

.label2 {
    font-weight: 600;
    font-size: 20px;
}

/*INSCRIPTION 1*/

.messageErreurMDP {
    color: red;
    font-family: URW Chancery L, cursive;
    position: absolute;
    top: 64%;
    left: 22%;
    font-size: 15px;
}


.messageErreurConfirmation {
    color: red;
    font-family: URW Chancery L, cursive;
    position: absolute;
    top: 79%;
    left: 39%;
    font-size: 15px;
}

#messageErreurChamps {
    color: white;
    position: absolute;
    top: 85%;
    left: 28%;
    font-size: 20px;
    font-weight: bold;
    font-family: URW Chancery L, cursive;
    display: none;
}

#messageErreurChamps2,
#messageErreurChamps3 {
    color: white;
    position: absolute;
    top: 85%;
    left: 46%;
    font-size: 17px;
    font-weight: bold;
    font-family: URW Chancery L, cursive;
    display: none;
}

#messageErreurPiloteModif {
    color: white;
    position: absolute;
    top: 103%;
    left: 46%;
    font-size: 14px;
    font-weight: bold;
    font-family: URW Chancery L, cursive;
    display: none;
}

.TitreInscription {
    position: absolute;
    top: 10%;
    left: 35%;
    color: white;
    font-family: URW Chancery L, cursive;
}

label[for="Etape1"] {
    position: absolute;
    top: 27%;
    left: 10%;
    color: white;
    font-size: 25px;
    font-family: URW Chancery L, cursive;
}

.Id {
    font-size: 25px;
    width: 500px;
    color: white;
    background-color: rgba(28, 143, 166, 0.918);
    box-shadow: rgb(255, 255, 255) 0px 1px 3px;
    position: absolute;
    top: 40%;
    left: 35%;
    border-radius: 10px;
    border-bottom: 5px solid rgb(255, 255, 255);
    padding: 20px;
    font-family: URW Chancery L, cursive;
}

.mdp {
    font-size: 25px;
    width: 500px;
    color: white;
    background-color: rgba(28, 143, 166, 0.918);
    box-shadow: rgb(255, 255, 255) 0px 1px 3px;
    position: absolute;
    top: 55%;
    left: 35%;
    border-radius: 10px;
    border-bottom: 5px solid rgb(255, 255, 255);
    padding: 20px;
    font-family: URW Chancery L, cursive;
}

.confirmdp {
    font-size: 25px;
    width: 500px;
    color: white;
    background-color: rgba(28, 143, 166, 0.918);
    box-shadow: rgb(255, 255, 255) 0px 1px 3px;
    position: absolute;
    top: 70%;
    left: 35%;
    border-radius: 10px;
    border-bottom: 5px solid rgb(255, 255, 255);
    padding: 20px;
    font-family: URW Chancery L, cursive;
}

#identifiant,
#motdp,
#confmdp {
    position: absolute;
    left: 50%;
    border-radius: 5px;
    border-width: 0;
    height: 30px;
    width: 250px;
}

label[for="labelEtape1"] {
    margin-left: 10%;
}

.boutonValidationInscription {
    position: absolute;
    left: 63%;
    top: 85%;
    font-size: 23px;
    cursor: pointer;
    justify-content: center;
    font-weight: bold;
    border-radius: 8px;
    border-color: black;
}

.boutonValidationInscription:hover {
    background-color: rgba(28, 143, 166, 0.918);
}

/*Inscription 2*/

.BlocNomPrenom {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 40%;
    left: 10%;
    gap: 25px;
}

.prenom,
.Nom {
    font-size: 25px;
    width: 500px;
    color: white;
    background-color: rgba(28, 143, 166, 0.918);
    box-shadow: rgb(255, 255, 255) 0px 1px 3px;
    border-radius: 10px;
    border-bottom: 5px solid rgb(255, 255, 255);
    padding: 20px;
    font-family: URW Chancery L, cursive;
}

#Prenom,
#nom,
#centres {
    position: relative;
    left: 16%;
    border-radius: 5px;
    border-width: 0;
    height: 30px;
    width: 250px;
}

.Promo {
    font-size: 25px;
    width: 500px;
    color: white;
    background-color: rgba(28, 143, 166, 0.918);
    box-shadow: rgb(255, 255, 255) 0px 1px 3px;
    border-radius: 10px;
    border-bottom: 5px solid rgb(255, 255, 255);
    padding: 20px;
    font-family: URW Chancery L, cursive;
    position: absolute;
    top: 57%;
    left: 10%;
}

.centre {
    font-size: 25px;
    width: 500px;
    color: white;
    background-color: rgba(28, 143, 166, 0.918);
    box-shadow: rgb(255, 255, 255) 0px 1px 3px;
    border-radius: 10px;
    border-bottom: 5px solid rgb(255, 255, 255);
    padding: 20px;
    font-family: URW Chancery L, cursive;
    position: absolute;
    top: 57%;
    left: 47%;
}

.boutonValidationInscription2 {
    position: absolute;
    left: 75%;
    top: 85%;
    font-size: 23px;
    cursor: pointer;
    justify-content: center;
    font-weight: bold;
    border-radius: 8px;
    border-color: black;
}

.boutonValidationInscription2:hover {
    background-color: rgba(28, 143, 166, 0.918);
}

.messageErreurNom {
    color: red;
    font-family: URW Chancery L, cursive;
    position: absolute;
    top: 35%;
    left: 36%;
    font-size: 15px;
}

.messageErreurPrenom {
    color: red;
    font-family: URW Chancery L, cursive;
    position: absolute;
    top: 35%;
    left: 74%;
    font-size: 15px;
}

.messageErreurId {
    color: red;
    font-family: URW Chancery L, cursive;
    position: absolute;
    top: 49%;
    left: 39%;
    font-size: 15px;
}


/*Supprimer entreprise*/

.supr {
    height: 350px;
    width: 800px;
    border-radius: 15px;
    position: absolute;
    display: flex;
    background-color: white;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
}

label[for="labelSuppr1"] {
    font-family: URW Chancery L, cursive;
    font-weight: bold;
    font-size: 28px;
    position: relative;
    top: 25%;
}

label[for="labelSuppr2"] {
    font-family: URW Chancery L, cursive;
    font-size: 18px;
    position: relative;
    top: 35%;
}

.boutonSuppAnn {
    position: absolute;
    top: 80%;
    left: 23%;
    display: flex;
    gap: 50px;
}

.boutonSuppr,
.boutonAnnul {
    font-size: 23px;
    cursor: pointer;
    justify-content: center;
    font-weight: bold;
    border-radius: 8px;
    border-color: grey;
}

.boutonAnnul:hover,
.boutonSuppr:hover,
.Postuler:hover {
    background-color: rgba(28, 143, 166, 0.918);
}

/*PAGE POSTULATION*/

.BlocPostulationOffre {
    height: 500px;
    width: 800px;
    border-radius: 15px;
    position: absolute;
    display: flex;
    background-color: white;
    top: 55%;
    left: 72%;
    transform: translate(-50%, -50%);

}

.SaisieLettreM {
    position: absolute;
    top: 25%;
    left: 3%
}

.importCV {
    position: absolute;
    top: 90%;
    left: 3%;
    color: white;
}

.Postuler {
    font-size: 23px;
    cursor: pointer;
    justify-content: center;
    font-weight: bold;
    border-radius: 8px;
    border-color: grey;
    position: absolute;
    top: 90%;
    left: 88%;
}


@font-face {
    font-family: 'Khula';
    /* Nom de la police */
    src: url("C:\Users\pauli\PROJET-WEB\Khula");
    /* Chemin vers le fichier de police */
}



body {
    background-color: rgba(37, 37, 37, 1);
}

.imgprinc {
    width: 10%;
    margin-right: 85%;
}

.Centrer {
    text-align: center;

}

.Apropos {
    text-align: center;
    margin-top: 21%;

}

.Apropos a {
    text-decoration: none;
    margin-right: 100px;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;

}


/* ======== PAGE ACCUEIL ========== */


.Titre {
    font-size: 30px;
    text-align: center;
    margin-top: 10%;
    color: #ffffff;
    font-family: 'Khula';

}


.bouton-grand {
    width: 80px;
    /* Largeur du bouton */
    height: 25px;
    /* Hauteur du bouton */
    font-size: 10px;
    /* Taille de la police */
    font-weight: 700;
    margin-top: -3%;
    margin-left: -2%;
    border-radius: 7px;
    /* ajustez la valeur selon la forme souhaitée */
    background-color: #ffffff;
    /* couleur de fond */
    color: #000000;
    /* couleur du texte */
    border: #000000;
    /* suppression de la bordure par défaut */
    cursor: pointer;
    text-decoration: none;
}

.alignement {
    display: flex;
    /* Utiliser Flexbox */
    align-items: center;
    /*justify-content: flex-end;*/
}




/*PAGE CONNEXION */

.parent {
    font-size: 25px;
    text-align: center;
    width: 500px;
    height: 50px;
    color: white;
    background-color: rgba(28, 143, 166, 0.918);
    box-shadow: rgb(255, 255, 255) 0px 1px 3px;
    margin-right: 200px;
    margin-top: 30px;
    border-radius: 10px;
    border-bottom: 5px solid rgb(255, 255, 255);
    padding: 20px;

}



#valider_co {
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    justify-content: center;
    margin-top: 50px;
    margin-left: 430px;
    font-weight: bold;
    border-radius: 8px;
    border: 0;
    padding: 8px;
}

#valider_co:hover {
    background-color: rgba(28, 143, 166, 0.918);
}

#identifier {
    color: white;
    margin-top: 200px;
    margin-left: 900px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 45px;
}

#imgcon {
    left: 0;
    top: 0;
    position: fixed;
    height: 100vh;

}

#mail,
#mdp {
    margin-left: 34px;
    margin-top: 10px;
    width: 170px;
    border: 0;
    border-radius: 10px;
    padding: 8px 15px;
    display: inline;
}

.container {
    float: right;
}



#mail {
    margin-left: 125px;
}

.parent label {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}


/*PAGE CREATION ENTREPRISE  */

.Titre1 {
    font-size: 20px;
    text-align: center;
    margin-top: -7%;
    color: #ffffff;
    font-family: 'Khula';

}

.Bloc {
    height: 60%;
    width: 45%;
    border-radius: 15px;
    position: absolute;
    display: flex;
    background-color: white;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.titre3 {
    color: rgba(28, 143, 166, 0.918);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 3%;
    left: 35%;
}

.contenuCreerEntre {
    gap: 15px;
    position: absolute;
    top: 30%;
    left: 15%;
    display: flex;
    flex-direction: column;
}



.name {
    color: rgba(28, 143, 166, 0.918);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    gap: 90px;
}



.description {
    display: flex;
    flex-direction: row;
    gap: 57px;
    color: rgba(28, 143, 166, 0.918);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.description>textarea {
    position: absolute;
    left: 49%;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
}



.boutons-D {
    position: absolute;
    top: 92%;
    left: 75%;
    display: flex;
    flex-direction: row;
    gap: 10px;

}




/*PAGE MODIFICATION ENTREPRISE  */

.boutons-G #but3 {
    display: flex;
    height: 25px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    border-color: rgba(28, 143, 166, 0.918);
}

.boutons-G #but3:hover {
    background-color: rgba(28, 143, 166, 0.918);
}

.boutons-G #but4 {
    display: flex;
    height: 25px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    border-color: rgba(28, 143, 166, 0.918);
}

.boutons-G #but4:hover {
    background-color: rgba(28, 143, 166, 0.918);
}

.boutons-G {
    position: absolute;
    top: 92%;
    left: 5%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;

}

.descriptionEntreprise {

    color: rgba(28, 143, 166, 0.918);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#DescriptionEntreprise {
    position: absolute;
    top: 22%;
    left: 49%;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
}



/* CREER OFFRE*/


.BlocCreerO {
    height: 60%;
    width: 45%;
    border-radius: 15px;
    position: absolute;
    display: flex;
    background-color: white;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: URW Chancery L, cursive;
}

.Bloc1CreerO {
    position: absolute;
    top: 30%;
    left: 10%;
    height: 20%;
    width: 15%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.Bloc2CreerO {
    gap: 35px;
    position: absolute;
    top: 25%;
    left: 15%;
    width: 25%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 50px;

}

.Bloc3CreerO {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-weight: bold;
}

.Bloc3CreerO select {
    position: absolute;
    left: 80%;
    display: flex;
    flex-direction: row;
}

.Bloc3CreerO input,
textarea {
    position: absolute;
    left: 80%;
    display: flex;
    flex-direction: row;

}

.Bloc4CreerO {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 65%;
    top: 25%;
    width: 15%;
    ;
}

.Bloc5CreerO {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/*Modifier étudiant*/


.nameEtudiant {
    color: rgba(28, 143, 166, 0.918);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    gap: 133px;
}


.PrenomEtudiant,
#LabelPromo {
    color: rgba(28, 143, 166, 0.918);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    gap: 177px;
}

.promotion {
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    gap: 15px;
    position: absolute;
    left: 30%;
    top: 90%;
}

#prenom,
#nom,
#promos {
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
}

.centres {
    color: rgba(28, 143, 166, 0.918);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    gap: 186px;
}

.promo {
    color: rgba(28, 143, 166, 0.918);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    gap: 149px;
}


/* STAGE TERMINE */

.flecheretourST {
    width: 50px;
    height: 60px;
    margin-top: 7%;
}

.boutonretourST {

    border-radius: 7px;
    background-color: #ffffff;
    color: #000000;
    border: #000000;
    cursor: pointer;
    text-decoration: none;
}

.Bloc1ST {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 30%;
    top: 22%;
    font-family: URW Chancery L, cursive;
    gap: 140px;
}

.label-2ST {
    color: rgb(144, 206, 206);
    font-size: 45px;
}

.scroll-section1ST {
    position: fixed;
    top: 35%;
    left: 30%;
    width: 40%;
    height: 32%;
    overflow-y: auto;
    padding: 10px;
    font-family: URW Chancery L, cursive;
}

.scroll-content1ST {
    position: relative;
    display: flex;
    gap: 90px;
    margin-bottom: 2%;
    margin-left: 0%;
    background-color: white;
    box-shadow: rgb(255, 255, 255) 0px 1px 3px;
    border-radius: 10px;
    border-bottom: 5px solid rgb(255, 255, 255);
    padding: 6%;
}

.scroll-content2ST {
    position: relative;
    display: flex;
    gap: 90px;
    margin-bottom: 2%;
    margin-left: 0%;
    background-color: rgb(66, 66, 66);
    box-shadow: rgb(255, 255, 255) 0px 1px 3px;
    border-radius: 10px;
    padding: 7%;
}

.bouton-evaluerST {
    border-radius: 7px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
    height: 35px;
    width: 70px;
    font-weight: 600;
    box-shadow: rgb(70, 69, 69) 0px 3px 3px;
}

.label-stageST {
    font-weight: 600;
    font-size: 20px;
}

div::-webkit-scrollbarST {
    width: 8px;
}

div::-webkit-scrollbarST-thumb {
    background: #aaa;
    border-radius: 5px;
}

/*Evaluer entreprise*/

.BlocEval {

    height: 450px;
    width: 700px;
    border-radius: 15px;
    position: absolute;
    background-color: white;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: URW Chancery L, cursive;
}

.Bloc1Eval {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 70px;
    top: 2%;
    left: 3%;

}

.Bloc2Eval {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    top: 20%;
    left: 25%;
    align-items: center;

}

.Bloc4Eval {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    top: 10%;
    left: 82%;
}

.label-StageEval {
    font-size: 30px;
}

.label-localité {
    font-size: 15px;
}

.label-entrepriseEval {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 600;
}

.flecheretourEval {
    width: 50px;
    height: 60px;
    margin-top: 7%;
}

.titre-wishlistEval {
    font-size: 30px;
}

.grasEval {
    font-weight: 700;
}

.evalEval {
    unicode-bidi: bidi-override;
    direction: rtl;
    color: #000000;
}

.evalEval input {

    display: none;

}

.evalEval label {
    display: inline-block;
    font-size: 25px;
    padding: 0px;
    cursor: pointer;

}

.evalEval input:checked~label,
.evalEval input:checked~label~label {
    color: orange;
}

.ratingEval {
    color: rgba(28, 143, 166, 0.918);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    gap: 110px;
}

.boutonretourEval {

    border-radius: 7px;
    /* ajustez la valeur selon la forme souhaitée */
    background-color: #ffffff;
    /* couleur de fond */
    color: #000000;
    /* couleur du texte */
    border: #000000;
    /* suppression de la bordure par défaut */
    cursor: pointer;
    text-decoration: none;
}

.bouton-confirmerEval {
    margin-top: 180px;
    border-radius: 7px;
    /* ajustez la valeur selon la forme souhaitée */
    background-color: #ffffff;
    /* couleur de fond */
    color: #000000;
    /* couleur du texte */
    cursor: pointer;
    height: 30px;
    width: 80px;
    text-decoration: none;
    box-shadow: rgb(70, 69, 69) 0px 1px 3px;
}

.boutonStageEval {
    width: 180px;
    height: 60px;
    font-size: 170%;
    /* Taille de la police */
    font-weight: 700;
    border-radius: 7px;
    /* ajustez la valeur selon la forme souhaitée */
    background-color: #ffffff;
    /* couleur de fond */
    color: #000000;
    /* couleur du texte */
    cursor: pointer;
    text-decoration: none;
    padding-left: 40px;
    box-shadow: rgb(70, 69, 69) 0px 1px 3px;
}

.boutonPostulerEval {
    width: 90px;
    height: 35px;
    font-size: 110%;
    /* Taille de la police */
    font-weight: 00;
    border-radius: 10px;
    /* ajustez la valeur selon la forme souhaitée */
    background-color: #ffffff;
    /* couleur de fond */
    color: #000000;
    /* couleur du texte */
    cursor: pointer;
    text-decoration: none;
}

.imgcoeurEval {
    position: absolute;
    width: 30px;
    height: 35px;
    top: 32%;
    left: 5%;
}

.boutoncroixEval {
    background-color: #ffffff;
    /* couleur de fond */
    cursor: pointer;
    border: #000000;
}

.imgcroixEval {
    width: 22px;
    height: 20px;
}


/*Consulter stage*/

.BlocConsul {

    height: 450px;
    width: 700px;
    border-radius: 15px;
    position: absolute;
    display: flex;
    background-color: white;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: URW Chancery L, cursive;
}

.Bloc1Consul {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 10px;
    top: 2%;
    left: 3%;

}

.Bloc2Consul {
    top: 35%;
    left: 18%;
    height: 10%;
    width: 60%;
}

.Bloc2Consul label {
    font-size: 25px;
}




.flecheretourConsul {
    width: 50px;
    height: 60px;
    margin-top: 7%;
}

.titre-wishlistConsul {
    font-size: 40px;
}

.Bloc2Consul {
    position: relative;
    display: flex;
    flex-direction: row;

    gap: 80px;
    align-items: center;

    background-color: white;
    box-shadow: rgb(255, 255, 255) 0px 1px 3px;
    border-radius: 10px;
    border-bottom: 5px solid rgb(255, 255, 255);
    padding: 4%;
}

.boutonretourConsul {

    border-radius: 7px;
    background-color: #ffffff;
    color: #000000;
    border: #000000;
    cursor: pointer;
    text-decoration: none;
}