/* En commun */


.supprimer {
    height: 350px;
    width: 800px;
    border-radius: 15px;
    position: absolute;
    display: flex;
    background-color: white;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
}

label[for="labelSup1"] {
    font-weight: bold;
    font-size: 28px;
    position: relative;
    top: 25%;
}

label[for="labelSup2"] {
    font-size: 18px;
    position: relative;
    top: 35%;
}

.boutonSuppAnn {
    position: absolute;
    top: 80%;
    left: 23%;
    display: flex;
    gap: 50px;
}

.boutonSupprimer,
.boutonAnnuler {
    font-size: 23px;
    cursor: pointer;
    justify-content: center;
    font-weight: bold;
    border-radius: 8px;
    border-color: grey;
}

.boutonAnnuler:hover,
.boutonSupprimer:hover,
.Postuler:hover {
    background-color: rgba(28, 143, 166, 0.918);
}
