/* MODIFIER */

body {
    background-color: rgba(37, 37, 37, 1);
    font-family: 'Khula', sans-serif;
}

.header {
    display: flex;
    /* Utiliser Flexbox */
    align-items: center;
    /*justify-content: flex-end;*/
}

.logo {
    width: 10%;
    margin-right: 85%;
}

.titre {
    font-size: 20px;
    text-align: center;
    margin-top: -7%;
    color: #ffffff;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 38vw;
    width: 20vw;
    color: white;
    text-align: center;
    padding-top: 20vh;
    padding-bottom: 0.5vh;
    font-size: 3vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2vw;
}

.footer a {
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1vw;
}

/* En commun */

.bloc {
    height: 60%;
    width: 45%;
    border-radius: 15px;
    position: absolute;
    display: flex;
    background-color: white;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titre1 {
    color: rgba(28, 143, 166, 0.918);
    position: absolute;
    top: 3%;
    left: 30%;
}

.contenu {
    gap: 30px;
    position: absolute;
    top: 30%;
    left: 15%;
    display: flex;
    flex-direction: column;
}

.boutons-D {
    position: absolute;
    top: 92%;
    left: 75%;
    display: flex;
    flex-direction: row;
}

.boutons-D #but1 {
    display: flex;
    height: 25px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    border-color: rgba(28, 143, 166, 0.918);
}

.boutons-D #but2 {
    border-color: rgba(28, 143, 166, 0.918);
    display: flex;
    height: 25px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
}

.boutons-D #but1:hover {
    background-color: rgba(28, 143, 166, 0.918);
}

.boutons-D #but2:hover {
    background-color: rgba(28, 143, 166, 0.918);
}

.boutons-G {
    position: absolute;
    top: 92%;
    left: 5%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;

}

.boutons-G #but3 {
    display: flex;
    height: 25px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    border-color: rgba(28, 143, 166, 0.918);
}

.boutons-G #but4 {
    display: flex;
    height: 25px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    border-color: rgba(28, 143, 166, 0.918);
}

.boutons-G #but3:hover {
    background-color: rgba(28, 143, 166, 0.918);
}

.boutons-G #but4:hover {
    background-color: rgba(28, 143, 166, 0.918);
}


.entree,
#LabelPromo {
    color: rgba(28, 143, 166, 0.918);
    display: flex;
    gap: 177px;
}

#prenom,
#nom,
#promos {
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
}

.centres {
    color: rgba(28, 143, 166, 0.918);
    display: flex;
    gap: 186px;
}


/* Entreprise */


.nomEntreprise {
    color: rgba(28, 143, 166, 0.918);
    display: flex;
    gap: 90px;
}

.nomEntreprise>input {
    border-radius: 5px;
    border-width: 3px;
    border-color: black;
}

.descriptionEntreprise {

    color: rgba(28, 143, 166, 0.918);
}

#DescriptionEntreprise {
    position: absolute;
    top: 22%;
    left: 49%;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
}

.activite {
    color: rgba(28, 143, 166, 0.918);
    display: flex;
    gap: 50px;
}

.activite>select {
    border-radius: 5px;
    height: 20px;
    border-color: black;
    border-width: 2px;
}

.localite {
    color: rgba(28, 143, 166, 0.918);
    display: flex;
    gap: 128px;
}

.localite>select {
    border-radius: 5px;
    height: 20px;
    border-color: black;
    border-width: 2px;
}

.rating {
    color: rgba(28, 143, 166, 0.918);
    display: flex;
    gap: 110px;
}

.eval {
    unicode-bidi: bidi-override;
    direction: rtl;
    color: #000000;
}

.eval input {

    display: none;

}

.eval label {
    display: inline-block;
    font-size: 25px;
    padding: 0px;
    cursor: pointer;

}

.eval input:checked~label,
.eval input:checked~label~label {
    color: orange;
}


/* Etudiant */


.promo {
    color: rgba(28, 143, 166, 0.918);
    display: flex;
    gap: 149px;
}


/* Offres */

.BlocOffre1 {
    gap: 35px;
    position: absolute;
    top: 25%;
    left: 15%;
    width: 25%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 50px;

}

.BlocOffre2 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-weight: bold;
}

.BlocOffre2 select {
    position: absolute;
    left: 90%;
    display: flex;
    flex-direction: row;
}

.BlocOffre2 input,
textarea {
    position: absolute;
    left: 90%;
    display: flex;
    flex-direction: row;

}

.BlocOffre3 {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 65%;
    top: 25%;
    width: 15%;
    ;
}

.BlocOffre4 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


/* Pilote */


.promotion {
    position: relative;
    top: 90%;
}

/* Fin ! Ouf.. */