/* STATISTIC */

body {
    background-color: rgba(37, 37, 37, 1);
    font-family: 'Khula', sans-serif;
}

.header {
    display: flex;
    /* Utiliser Flexbox */
    align-items: center;
    /*justify-content: flex-end;*/
}

.logo {
    width: 10%;
    margin-right: 85%;
}

.titre {
    font-size: 20px;
    text-align: center;
    margin-top: -7%;
    color: #ffffff;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 38vw;
    width: 20vw;
    color: white;
    text-align: center;
    padding-top: 20vh;
    padding-bottom: 0.5vh;
    font-size: 3vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2vw;
}

.footer a {
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1vw;
}

/* --- Statistics Admin - Pilote  --- */
.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    background-color: white;
    height: 60%;
    left: 30%;
    top: 25%;
    border-radius: 30px;

}

.name {
    position: absolute;
    top: 4%;
    left: 4%;
    font-weight: 600;
    font-size: 26px;
}

.graph {
    position: absolute;
    top: 25%;
    left: 28%;
    width: 400px;
    height: 400px;
}

aside {
    position: absolute;
    /* Positionnement absolu par rapport au conteneur parent */
    background-color: white;
    top: 25%;
    /* Distance par rapport au haut de la fenêtre 200*/
    left: 6%;
    /* Distance par rapport à la gauche de la fenêtre */
    width: 300px;
    /* Largeur de l'élément aside */
    height: 500px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: white;
    border-bottom: 5px solid rgb(255, 255, 255);
}

#filtres {
    position: absolute;
    top: 0.5%;
    left: 17%;
    font-weight: bold;
}

.filter {
    height: 25px;
    position: absolute;
    top: 3%;
    left: 5%;
}

.competence {
    position: absolute;
    top: 10%;
    left: 5%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.localite {
    position: absolute;
    top: 42%;
    left: 5%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.promotion {
    position: absolute;
    top: 80%;
    left: 5%;
    display: flex;
    flex-direction: column;
    gap: 7px;

}

.separation {
    border-bottom: 2px solid black;
}

/* --- Statistics Etudiant  --- */
.Bloc {
    height: 530px;
    width: 850px;
    border-radius: 15px;
    position: absolute;
    display: flex;
    background-color: white;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Bloc1 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 350px;
    top: -20%;
}

.bouton-retour {
    position: absolute;
    top : 20%;
    border-radius: 7px;
    /* ajustez la valeur selon la forme souhaitée */
    background-color: #ffffff;
    /* couleur de fond */
    color: #000000;
    /* couleur du texte */
    border: #000000;
    /* suppression de la bordure par défaut */
    cursor: pointer;
    text-decoration: none;
}

.fleche-retour {
    width: 60px;
    height: 60px;
    margin-top: 7%;
    margin-left: 30%;
}

.Bloc2 {
    display: flex;
    position: relative;
    flex-direction: column;
    top: -6%;
    left: 6%;
    gap: 25px;
}

.label2 {
    font-weight: 600;
    font-size: 20px;
}

.boutonprofil {
    width: 140px;
    height: 30px;
    font-size: 90%;
    font-weight: 600;
    border-radius: 7px;
    /* ajustez la valeur selon la forme souhaitée */
    background-color: #ffffff;
    /* couleur de fond */
    color: #000000;
    /* couleur du texte */
    cursor: pointer;
    text-decoration: none;
    padding-left: 40px;
    box-shadow: rgb(70, 69, 69) 0px 1px 3px;
}

.boutonwishlist {
    width: 200px;
    height: 30px;
    font-size: 90%;
    /* Taille de la police */
    font-weight: 700;
    border-radius: 7px;
    /* ajustez la valeur selon la forme souhaitée */
    background-color: #ffffff;
    /* couleur de fond */
    color: #000000;
    /* couleur du texte */
    cursor: pointer;
    text-decoration: none;
    padding-left: 40px;
    box-shadow: rgb(70, 69, 69) 0px 1px 3px;
    transform: translateX(-30%);
}

.Bloc3 {
    background-color: rgba(220, 220, 220, 1);
    display: flex;
    position: absolute;
    top: 45%;
    left: 5%;
    width: 600px;
    height: 240px;
    border-radius: 15px;
    border: 1px solid black;

}

.Bloc4 {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 10%;
    left: 5%;
    gap: 5px;
}

.label1 {
    font-weight: 600;
}

.Bloc5 {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 10%;
    left: 65%;
    gap: 20px;
}