/* WISHLIST */

body {
    background-color: rgba(37, 37, 37, 1);
    font-family: 'Khula', sans-serif;
}

.header {
    display: flex;
    /* Utiliser Flexbox */
    align-items: center;
    /*justify-content: flex-end;*/
}

.logo {
    width: 10%;
    margin-right: 85%;
}

.titre {
    font-size: 20px;
    text-align: center;
    margin-top: -7%;
    color: #ffffff;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 38vw;
    width: 20vw;
    color: white;
    text-align: center;
    padding-top: 20vh;
    padding-bottom: 0.5vh;
    font-size: 3vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2vw;
}

.footer a {
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1vw;
}

/* --- Wish --- */
.container {
    height: 450px;
    width: 700px;
    border-radius: 15px;
    position: absolute;
    display: flex;
    background-color: white;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: URW Chancery L, cursive;
}

.bouton-retour {
    position: absolute;
    top: 20px;
    border-radius: 7px;
    /* ajustez la valeur selon la forme souhaitée */
    background-color: #ffffff;
    /* couleur de fond */
    color: #000000;
    /* couleur du texte */
    border: #000000;
    /* suppression de la bordure par défaut */
    cursor: pointer;
    text-decoration: none;
}

.fleche-retour {
    width: 60px;
    height: 60px;
}

.titre-wishlist {
    position: absolute;
    left: 40%;
    font-size: 40px;
}

.Bloc3 {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 25%;
    left: 6%;
    width: 75%;
    height: 45%;
    overflow-y: auto;
    padding: 40px;
}

.Bloc2 {
    position: relative;
    display: flex;
    flex-direction: row;

    gap: 70px;
    align-items: center;

    background-color: white;
    box-shadow: rgb(255, 255, 255) 0px 1px 3px;
    border-radius: 10px;
    border-bottom: 5px solid rgb(255, 255, 255);
    padding: 4%;
}

.boutonStage {
    width: 180px;
    height: 60px;
    font-size: 170%;
    /* Taille de la police */
    font-weight: 700;
    border-radius: 7px;
    /* ajustez la valeur selon la forme souhaitée */
    background-color: #ffffff;
    /* couleur de fond */
    color: #000000;
    /* couleur du texte */
    cursor: pointer;
    text-decoration: none;
    padding-left: 40px;
    box-shadow: rgb(70, 69, 69) 0px 1px 3px;
}

.imgcoeur {
    position: absolute;
    width: 30px;
    height: 35px;
    top: 32%;
    left: 5%;
}

.boutonPostuler {
    width: 90px;
    height: 35px;
    font-size: 110%;
    /* Taille de la police */
    font-weight: 400;
    border-radius: 10px;
    /* ajustez la valeur selon la forme souhaitée */
    background-color: #ffffff;
    /* couleur de fond */
    color: #000000;
    /* couleur du texte */
    cursor: pointer;
    text-decoration: none;
}

.boutoncroix {
    background-color: #ffffff;
    /* couleur de fond */
    cursor: pointer;
    border: #000000;
}

.imgcroix {
    width: 22px;
    height: 20px;
}