/* --- CSS Offre --- */

.container {
    height: 65%;
    width: 50%;
    border-radius: 15px 15px 15px 15px;
    position: absolute;
    display: flex;
    background-color: white;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bouton-retour {
    border-radius: 7px;
    /* ajustez la valeur selon la forme souhaitée */
    background-color: #ffffff;
    /* couleur de fond */
    color: #000000;
    /* couleur du texte */
    border: #000000;
    /* suppression de la bordure par défaut */
    cursor: pointer;
    text-decoration: none;
}

.fleche-retour {
    width: 60px;
    height: 60px;
    margin-top: 25px;
    margin-left: 35%;
}

.nom {
    left: 27%;
    top: 5%;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
}

.description {
    height: 80px;
    width: 400px;
    position: absolute;
    top: 20%;
    left: 5%;
    display: flex;
    flex-direction: column;
}

.description p {
    font-size: 17px;
    margin-top: 1%;
}

.competences {
    height: 100px;
    width: 400px;
    position: absolute;
    top: 42%;
    left: 5%;
    gap: 10px;
}

.localisation {
    height: 40px;
    width: 400px;
    position: absolute;
    top: 60%;
    left: 5%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.localisation p {
    margin-top: 20px;
    font-size: 17px;
}

.entreprise {
    height: 40px;
    width: 400px;
    position: absolute;
    top: 70%;
    left: 5%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.entreprise p {
    margin-top: 20px;
    font-size: 17px;
}

.postulation {
    height: 40px;
    width: 400px;
    position: absolute;
    top: 82%;
    left: 5%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.postulation p {
    margin-top: 18px;
    font-size: 17px;
}

.duree {
    height: 40px;
    width: 300px;
    position: absolute;
    top: 30%;
    left: 70%;
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

.duree p {
    margin-left: 5px;
    margin-top: 16px;
    font-size: 17px;
}

.debut {
    height: 50px;
    width: 300px;
    position: absolute;
    top: 40%;
    left: 70%;
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

.debut p {
    margin-left: 5px;
    margin-top: 16px;
    font-size: 17px;
}

.niveau {
    height: 40px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 70%;
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

.niveau p {
    margin-left: 5px;
    margin-top: 16px;
    font-size: 17px;
}

.remuneration {
    height: 40px;
    width: 300px;
    position: absolute;
    top: 60%;
    left: 70%;
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

.remuneration p {
    margin-left: 5px;
    margin-top: 16px;
    font-size: 17px;
}

.place {
    height: 40px;
    width: 300PX;
    position: absolute;
    top: 70%;
    left: 70%;
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

.place p {
    margin-left: 5px;
    margin-top: 16px;
    font-size: 17px;
}

.favoris {
    unicode-bidi: bidi-override;
    direction: rtl;
    color: #000000;
    position: absolute;
    top: 2%;
    left: 90%;
    display: flex;
    flex-direction: column;
}

.favoris input {
    display: none;
}

.favoris label {
    display: inline-block;
    font-size: 50px;
    padding: 0px;
    cursor: pointer;
}

.favoris input[type="radio"]:checked+label {
    color: orange;
}

.modifier {
    position: absolute;
    left: 66%;
    top: 81%;
    font-size: 13px;
    width: 80px;
    height: 25px;
    cursor: pointer;
    justify-content: center;
    font-weight: bold;
    border-radius: 8px;
    border-color: black;
    z-index: 10;
    /* Ajout d'un z-index pour le mettre au premier*/
}

/* Postuler Offre */
.info-offre {
    height: 65%;
    width: 50%;
    border-radius: 15px 15px 15px 15px;
    position: absolute;
    display: flex;
    background-color: white;
    top: 55%;
    left: 32%;
    transform: translate(-50%, -50%);
}

.postuler {
    font-size: 23px;
    cursor: pointer;
    justify-content: center;
    font-weight: bold;
    border-radius: 8px;
    border-color: grey;
    position: absolute;
    top: 90%;
    left: 88%;
}

.postuler:hover {
    background-color: rgba(28, 143, 166, 0.918);
}

.partie-motivation {
    height: 550px;
    width: 550px;
    border-radius: 15px 15px 15px 15px;
    position: absolute;
    display: flex;
    background-color: white;
    top: 55%;
    left: 76%;
    transform: translate(-50%, -50%);
}

.titre-motivation {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 25%;
}

.motivation {
    height: 800px;
    width: 500px;
    position: absolute;
    top: 20%;
    left: 4.5%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.cv {
    height: 40px;
    width: 500px;
    position: absolute;
    top: 88%;
    left: 5%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bouton-postuler {
    position: absolute;
    left: 80%;
    top: 90%;
    font-size: 13px;
    width: 80px;
    height: 25px;
    cursor: pointer;
    justify-content: center;
    font-weight: bold;
    border-radius: 8px;
    border-color: black;
    z-index: 10;
}

/* Fin Offre */
.partie {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 30%;
    top: 22%;
    gap: 140px;
}

.bouton-retour2 {
    border-radius: 7px;
    background-color: rgba(37, 37, 37, 1);
    color: #ffffff;
    border: #ffffff;
    cursor: pointer;
    text-decoration: none;
}

.stage {
    color: #ffffff;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 20%;
    left: 44.5%;
    font-size: 40px;
}

.scroll-section {
    position: fixed;
    top: 35%;
    left: 30%;
    width: 40%;
    height: 32%;
    overflow-y: auto;
    padding: 10px;
}

.scroll-content {
    position: relative;
    display: flex;
    gap: 90px;
    margin-bottom: 2%;
    margin-left: 0%;
    background-color: white;
    box-shadow: rgb(255, 255, 255) 0px 1px 3px;
    border-radius: 10px;
    border-bottom: 5px solid rgb(255, 255, 255);
    padding: 6%;
}

.scroll-content p {
    font-size: 20px;
    font-weight: 600;
}

.bouton-evaluer {
    margin-top: 20px;
    margin-right: 1%;
    border-radius: 7px;
    /* ajustez la valeur selon la forme souhaitée */
    background-color: #ffffff;
    /* couleur de fond */
    color: #000000;
    /* couleur du texte */
    cursor: pointer;
    height: 20px;
    width: 80px;
    text-decoration: none;
    box-shadow: rgb(70, 69, 69) 0px 1px 3px;
    font-size: 15px;
    text-align: center;
    padding-top: 3px;

}

.scroll-content-vide {
    position: relative;
    display: flex;
    gap: 90px;
    margin-bottom: 2%;
    margin-left: 0%;
    background-color: rgb(66, 66, 66);
    box-shadow: rgb(255, 255, 255) 0px 1px 3px;
    border-radius: 10px;
    padding: 7%;
}