/* --- CSS Original --- */

.container {
    height: 60%;
    width: 45%;
    border-radius: 15px;
    position: absolute;
    display: flex;
    background-color: white;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.label {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 3%;
    color: rgba(28, 143, 166, 0.918);
}

.form {
    gap: 35px;
    position: absolute;
    top: 25%;
    left: 15%;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.info select {
    position: absolute;
    left: 90%;
    display: flex;
    flex-direction: row;
}

.info input,
textarea {
    position: absolute;
    left: 90%;
    display: flex;
    flex-direction: row;
}

.form_ {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 65%;
    top: 25%;
    width: 15%;
}

.infosup {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* --- Boutons --- */

.bouton-left {
    position: absolute;
    top: 90%;
    left: 75%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.bouton-left #save {
    display: flex;
    height: 25px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    border-color: rgba(28, 143, 166, 0.918);
}

.bouton-left #cancel {
    border-color: rgba(28, 143, 166, 0.918);
    display: flex;
    height: 25px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
}

.bouton-left #save:hover {
    background-color: rgba(28, 143, 166, 0.918);
}

.bouton-left #cancel:hover {
    background-color: rgba(28, 143, 166, 0.918);
}

.bouton-right {
    position: absolute;
    top: 90%;
    left: 5%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;
}

.bouton-right #delete {
    display: flex;
    height: 25px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    border-color: rgba(28, 143, 166, 0.918);
}

.bouton-right #delete:hover {
    background-color: rgba(28, 143, 166, 0.918);
}

/* --- Media Queries pour Responsive Design --- */

/* Écran mobile */
@media (max-width: 600px) {
    .container {
        width: 80%;
        height: 110%;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -35%);
        flex-direction: column;
    }

    .form {
        width: 70%;
        left: 15%;
        top: 13%;
        gap: 20px
    }

    .form_ {
        width: 70%;
        left: 15%;
        top: 52%;
        margin-top: 20px;
    }

    .info {
        flex-direction: column;
        position: relative;
        gap: 0px
    }

    .info select, 
    .info input, 
    textarea {
        position: relative;
        left: 0%;
    }
    

    .bouton-left {
        top: 88%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 20px;
    }
    .bouton-right {
        top: 92%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 20px;
    }

    .footer {
        display: none;
    }
}

/* Écran tablette */
@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        width: 80%;
        height: 110%;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -35%);
        flex-direction: column;
    }

    .form {
        width: 70%;
        left: 15%;
        top: 13%;
        gap: 20px
    }

    .form_ {
        width: 70%;
        left: 15%;
        top: 52%;
        margin-top: 20px;
    }

    .info {
        flex-direction: column;
        position: relative;
        gap: 0px
    }

    .info select, 
    .info input, 
    textarea {
        position: relative;
        left: 0%;
    }
    

    .bouton-left {
        top: 88%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 20px;
    }
    .bouton-right {
        top: 92%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 20px;
    }

    .footer {
        display: none;
    }
}

